
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=5c2de359-d121-4c1f-8088-1124233929dc");
    @font-face{
        font-family:"Neue Frutiger W01_n2";
        src:url("Fonts/56a45cb7-f23d-49a0-bfc2-c8697c283d7f.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Frutiger W01";
        src:url("Fonts/56a45cb7-f23d-49a0-bfc2-c8697c283d7f.eot?#iefix");
        src:url("Fonts/56a45cb7-f23d-49a0-bfc2-c8697c283d7f.eot?#iefix") format("eot"),url("Fonts/3707b616-fa68-46f1-b366-6203b775dfba.woff2") format("woff2"),url("Fonts/a1195dfc-f0a3-4c60-9515-d3808dc66b4c.woff") format("woff"),url("Fonts/fb62cba5-0fb8-498f-8359-eaaff75c288c.ttf") format("truetype"),url("Fonts/af337833-f8b0-4e2a-9f34-7de96f0d0fe4.svg#af337833-f8b0-4e2a-9f34-7de96f0d0fe4") format("svg");
font-weight: 200;
font-style: normal;
    }
    @font-face{
        font-family:"Neue Frutiger W01_i2";
        src:url("Fonts/c376d03a-6e5a-4e67-9991-1b10981a31ab.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Frutiger W01";
        src:url("Fonts/c376d03a-6e5a-4e67-9991-1b10981a31ab.eot?#iefix");
        src:url("Fonts/c376d03a-6e5a-4e67-9991-1b10981a31ab.eot?#iefix") format("eot"),url("Fonts/4071ea5b-bf2c-4fdc-ab5b-8d7c15c72ab9.woff2") format("woff2"),url("Fonts/10368ad7-6302-4e83-a193-4bbd6ff4ca46.woff") format("woff"),url("Fonts/9a12e2b8-f310-489d-af6d-0f996f898e2a.ttf") format("truetype"),url("Fonts/8e89233f-8145-41bf-9faa-6921c272d9a7.svg#8e89233f-8145-41bf-9faa-6921c272d9a7") format("svg");
font-weight: 200;
font-style: italic;
    }
    @font-face{
        font-family:"Neue Frutiger W01_n3";
        src:url("Fonts/12d6929b-8b96-4898-b413-6bd6d0e2d0fb.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Frutiger W01";
        src:url("Fonts/12d6929b-8b96-4898-b413-6bd6d0e2d0fb.eot?#iefix");
        src:url("Fonts/12d6929b-8b96-4898-b413-6bd6d0e2d0fb.eot?#iefix") format("eot"),url("Fonts/5ff45fd8-b17d-4b99-a293-7969c71b8e1c.woff2") format("woff2"),url("Fonts/a2afa464-03b1-4a6c-b5cb-3521a1cf94ba.woff") format("woff"),url("Fonts/9aa255d9-7d3d-420a-bb79-2f91c4aed10f.ttf") format("truetype"),url("Fonts/b755ea1d-fab9-4588-b7a8-31350efb38f9.svg#b755ea1d-fab9-4588-b7a8-31350efb38f9") format("svg");
font-weight: 300;
font-style: normal;
    }
    @font-face{
        font-family:"Neue Frutiger W01_i3";
        src:url("Fonts/507d7247-8f57-40e8-8730-d4dba3b5ec5a.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Frutiger W01";
        src:url("Fonts/507d7247-8f57-40e8-8730-d4dba3b5ec5a.eot?#iefix");
        src:url("Fonts/507d7247-8f57-40e8-8730-d4dba3b5ec5a.eot?#iefix") format("eot"),url("Fonts/ab9d27d1-cac1-4cc1-addb-f3278591c070.woff2") format("woff2"),url("Fonts/3b7f781f-47f2-4bcb-94c9-533ac0836f29.woff") format("woff"),url("Fonts/e2f8b5b1-f656-4f83-bc3b-357054ecfa2d.ttf") format("truetype"),url("Fonts/635cbdb7-354c-4ba0-866d-26ded7feb4eb.svg#635cbdb7-354c-4ba0-866d-26ded7feb4eb") format("svg");
font-weight: 300;
font-style: italic;
    }
    @font-face{
        font-family:"Neue Frutiger W01_n4";
        src:url("Fonts/4510b370-f470-4a48-9e50-610e1eda0c0f.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Frutiger W01";
        src:url("Fonts/4510b370-f470-4a48-9e50-610e1eda0c0f.eot?#iefix");
        src:url("Fonts/4510b370-f470-4a48-9e50-610e1eda0c0f.eot?#iefix") format("eot"),url("Fonts/33b6f34a-c72d-45b1-b53e-b1f65815790e.woff2") format("woff2"),url("Fonts/dd178e8e-241c-40e4-8de9-517c03b90b59.woff") format("woff"),url("Fonts/5c8447f4-b7e3-462a-87f2-b823e98d6da5.ttf") format("truetype"),url("Fonts/22971d02-0160-4a1f-b7ea-5999e0509d35.svg#22971d02-0160-4a1f-b7ea-5999e0509d35") format("svg");
font-weight: 400;
font-style: normal;
    }
    @font-face{
        font-family:"Neue Frutiger W01_i4";
        src:url("Fonts/04e8f83f-ff22-47f9-b6de-f1a16df7feff.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Frutiger W01";
        src:url("Fonts/04e8f83f-ff22-47f9-b6de-f1a16df7feff.eot?#iefix");
        src:url("Fonts/04e8f83f-ff22-47f9-b6de-f1a16df7feff.eot?#iefix") format("eot"),url("Fonts/539f6f1a-0c4b-4f30-9f94-93d8fecc17e9.woff2") format("woff2"),url("Fonts/2c4bc2a0-6c0c-4a07-964d-ca4b46d894ea.woff") format("woff"),url("Fonts/b793bcb8-7a6f-43fd-ae6b-d60e13ba6f4d.ttf") format("truetype"),url("Fonts/bedd7bf6-49ac-4496-a7eb-3e3c6ed92f16.svg#bedd7bf6-49ac-4496-a7eb-3e3c6ed92f16") format("svg");
font-weight: 400;
font-style: italic;
    }
    @font-face{
        font-family:"Neue Frutiger W01_n5";
        src:url("Fonts/e2e74e1c-9e18-4127-adfd-feb8f6a9ceaf.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Frutiger W01";
        src:url("Fonts/e2e74e1c-9e18-4127-adfd-feb8f6a9ceaf.eot?#iefix");
        src:url("Fonts/e2e74e1c-9e18-4127-adfd-feb8f6a9ceaf.eot?#iefix") format("eot"),url("Fonts/9edf3443-80c6-4de6-b582-122401f63ad4.woff2") format("woff2"),url("Fonts/aa94077e-cdcd-4e33-abe0-ddcfe27e3485.woff") format("woff"),url("Fonts/22dfb43f-26df-46f9-aa0f-30038f8da834.ttf") format("truetype"),url("Fonts/36ad2de1-95ea-4eb3-a836-29c86179a248.svg#36ad2de1-95ea-4eb3-a836-29c86179a248") format("svg");
font-weight: 500;
font-style: normal;
    }
    @font-face{
        font-family:"Neue Frutiger W01_i5";
        src:url("Fonts/6e3f9960-fdda-4ea8-bd81-1054f9be8633.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Frutiger W01";
        src:url("Fonts/6e3f9960-fdda-4ea8-bd81-1054f9be8633.eot?#iefix");
        src:url("Fonts/6e3f9960-fdda-4ea8-bd81-1054f9be8633.eot?#iefix") format("eot"),url("Fonts/640ec4c5-4340-47f1-9a09-78a589aad968.woff2") format("woff2"),url("Fonts/4f61e1e8-2cd9-4081-9569-4033e064c9ca.woff") format("woff"),url("Fonts/de6f85d2-e3bd-4432-ac0d-5bfbd1b754d6.ttf") format("truetype"),url("Fonts/5b722d6a-9861-42ea-9c1c-8da94fb3e7e9.svg#5b722d6a-9861-42ea-9c1c-8da94fb3e7e9") format("svg");
font-weight: 500;
font-style: italic;
    }
    @font-face{
        font-family:"Neue Frutiger W01_n7";
        src:url("Fonts/62057895-1f9e-4d70-bd1a-65751a20a878.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Frutiger W01";
        src:url("Fonts/62057895-1f9e-4d70-bd1a-65751a20a878.eot?#iefix");
        src:url("Fonts/62057895-1f9e-4d70-bd1a-65751a20a878.eot?#iefix") format("eot"),url("Fonts/26f1236c-a914-477f-9d0f-10d758702626.woff2") format("woff2"),url("Fonts/7875f3d5-b62b-445c-8c9e-d65da1514e9d.woff") format("woff"),url("Fonts/1c242f4e-0c64-47cc-8cbc-e53d949280ba.ttf") format("truetype"),url("Fonts/ec132df9-012a-4594-bbd9-c86574bee7b0.svg#ec132df9-012a-4594-bbd9-c86574bee7b0") format("svg");
font-weight: 700;
font-style: normal;
    }
    @font-face{
        font-family:"Neue Frutiger W01_i7";
        src:url("Fonts/a386feee-0105-4491-bba2-5242b0ea4079.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Frutiger W01";
        src:url("Fonts/a386feee-0105-4491-bba2-5242b0ea4079.eot?#iefix");
        src:url("Fonts/a386feee-0105-4491-bba2-5242b0ea4079.eot?#iefix") format("eot"),url("Fonts/491afbf8-1c04-4ec2-9339-19e04138e71a.woff2") format("woff2"),url("Fonts/ae54da60-5e40-4b49-92de-2440ceb17180.woff") format("woff"),url("Fonts/37831ed3-9997-44bd-98fe-f2c36b24c5ab.ttf") format("truetype"),url("Fonts/20b147ce-95f1-4dc1-a776-417d5d0e9a53.svg#20b147ce-95f1-4dc1-a776-417d5d0e9a53") format("svg");
font-weight: 700;
font-style: italic;
    }
    @font-face{
        font-family:"Neue Frutiger W01_n8";
        src:url("Fonts/82eb815b-aaa5-4d33-84d1-5abc7119d0ce.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Frutiger W01";
        src:url("Fonts/82eb815b-aaa5-4d33-84d1-5abc7119d0ce.eot?#iefix");
        src:url("Fonts/82eb815b-aaa5-4d33-84d1-5abc7119d0ce.eot?#iefix") format("eot"),url("Fonts/3f84f18e-610c-4fe0-8aab-407a8ea9e204.woff2") format("woff2"),url("Fonts/5d43a479-1884-4c13-adb3-fb96b43da44f.woff") format("woff"),url("Fonts/8f69f433-65c5-49bf-86b0-37045bebe119.ttf") format("truetype"),url("Fonts/9f6a7321-0490-4972-93e3-6a10f4c7a4c7.svg#9f6a7321-0490-4972-93e3-6a10f4c7a4c7") format("svg");
font-weight: 800;
font-style: normal;
    }
